<div class="grid grid-cols-4 gap-10">
  <div class="col-span-1">
    <% if current_user.actively_reading? %>
      <%= turbo_frame_tag('active_reservation_badge', src: reservation_path(current_user.active_reservation.id))%>
    <% end %>

    <%= turbo_frame_tag('company_reservations', src: company_reservations_path) %>

  </div>


  <div class='col-span-2 container mx-auto my-5 mr-[20%]'>
    <% @books.each do |book| %>
      <%= turbo_frame_tag("#{dom_id(book)}_card") do %>
        <%= render partial: 'books/card', locals: { book: book } %>
      <% end %>
    <% end %>

    <div class="mr-auto w-full text-right mt-4">
      <%= link_to 'New book', new_book_path, class: 'inline-block rounded-lg px-8 py-3 bg-yellow-600 hover:bg-yellow-700 text-white font-bold' %>
    </div>
  </div>
</div>