
<div class="flex flex-col bg-white py-6 px-4 my-4">
  <div class="text-lg text-gray-900">
      <%= link_to book_path(company_reservation.book), 'data-turbo-frame': '_top' do %>
        <span class="font-semibold hover:underline"><%= company_reservation.book.title %></span>
      <% end %>
  </div>
  <div class="text-lg text-gray-900 flex">
    <%= image_tag("down-arrow.svg", class: 'mr-1 w-5') %>
    Reserved on <%= company_reservation.created_at.to_date %> by  <%= company_reservation.user.full_name %>.
  </div>
</div>
